@page "/"
@using Markdig;
@using System.IO
@inject HttpClient Http


<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@Html

@code {
  private static string path =
    "https://github.com/TenaciousDev/BlazorGitHubPagesDemo/blob/dc4e85f59db6780919b43a1fcfcf35f154dc9a96/wwwroot/md-assets/main.md";
  public MarkupString Html { get; set; }

  protected async Task<string> GetFileContentsAsync(string uri)
  {
    var result = await Http.GetStringAsync(uri);
    return result;
  }
  protected void DisplayFileContents(string fileContents)
  {
    Html = (MarkupString)Markdown.ToHtml(fileContents);
  }

  protected override async Task OnInitializedAsync()
  {
    try
    {
      var contents = await GetFileContentsAsync(path);
      DisplayFileContents(contents);
    }
    catch (System.Exception x)
    {
      Html = (MarkupString)x.Message;
    }
  }
}